body {
  margin: 0;
  padding: 0;
  background: #2c2b3d;
  text-align: center;
}
#page {
  width: 1092px;
  margin: 0 auto;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.jetbrains {
  font-family: "JetBrains Mono", monospace;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 71px 0 101px;
}
ul {
  display: flex;
  gap: 64px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
main {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #00bfa6; */
}
section h1 {
  width: 614px;
  font-size: 36px;
  margin: 0 auto 59px;
}
span {
  color: #00bfa6;
}
p {
  width: 604px;
  line-height: 28px;
  color: #c2c2c2;
}
footer {
  text-align: center;
  margin: 23px 0;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
#line {
  height: 1px;
  background: #00bfa6;
  margin: 157px auto 27px;
  width: 568px;
}
#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
